p {
  font-family: Lato;
}


.yellow-bg{
  height: 50%;
  width: 100%;
  background-color: #FCE205;
}

.bg-teke{
  height: 20rem;
  background: url("https://cdn.needish.com/is-prod-deals/X2Rfa7qHtkgu1Rl-vtrPkQ/scale/900x600.jpg");
  background-position: center;
  background-size: cover;
}